<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application>
        <activity
            android:name=".camouflage.ui.DecoyActivity"
            android:exported="false"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:theme="@style/Theme.SuperiorChat" />
            
        <service
            android:name=".camouflage.engine.CamouflageTileService"
            android:label="@string/qs_tile_name"
            android:icon="@drawable/ic_qs_tile"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <activity
            android:name=".camouflage.ui.TileActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.SuperiorChat">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>
            
        <receiver
            android:name=".utils.CodeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <action android:name="android.telephony.action.SECRET_CODE" />
                <data android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.mobile.superiorchat.service.BotService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>
</manifest>
