<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".camouflage.ui.DecoyActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.SuperiorChat" />
            
        <receiver
            android:name=".utils.CodeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <action android:name="android.telephony.action.SECRET_CODE" />
                <data android:scheme="android_secret_code" android:host="9131" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
